body {
	font-family: Comic Sans MS;
	margin: 10px 10px 10px 10px;
}

fieldset {
	margin: 5px 5px 5px 5px;
	height: 300px;
	padding: 20px;
}

.alinhar {
	position: absolute;
	left: 100px;
}

#calcular {
	position: absolute;
	top: 180px;
}